@font-face {
    font-family: 'Anurati';
    src: url(../assets/fonts/Anurati-Regular.woff) format('woff');
}

:root {
    --dark-hr: #494A4D;
    --cultured-lg: #F5F5F5;
    --cultured-md: #ECECEC;
    --black: #000000;
    --dark-grey: #2F3132;
    --grey: #252A2C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.container_menu--header span {
    color: var(--grey);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' -0,
    'opsz' 48
  }

.logo--header {
    text-decoration: none;
    font-family: 'Anurati';
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--black);
    margin-left: 2rem;
}

.nav-menu {
    display: none;
}

.search-btn {
    cursor: pointer;
    background: none;
    border: none;
    margin-right: .6rem;
}

.search-btn span {
    color: var(--grey);
}

.link-login span {
    color: var(--grey);
}

/* Banner */
.container--banner {
    background-image: url(../assets/images/banner-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}

.container_text--banner p {
    color: var(--cultured-lg);
}

.container_text--banner p:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
    margin: 7rem 0 1rem 0;
}

.container_text--banner p:nth-child(2) {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.container_text--banner button {
    padding: 1rem 1.5rem;
    border: none;
    background-color: #2A7AE4;
    color: white;
    font-size: 1.6rem;
}

/* Sección Productos */
.sec_galeriaProductos {
    border: 2px dotted firebrick;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-tipoProducto {
    max-width: 32.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.titulo-tipoProducto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.titulo-tipoProducto h2 {
    font-size: 2rem;
    color: var(--dark-grey);
}

.titulo-tipoProducto div {
    display: flex;
    align-items: center;
}

.titulo-tipoProducto div p {
    font-size: 1.6rem;
    margin-right: .3rem;
}

.titulo-tipoProducto div span {
    font-size: 1.8rem;
}

.cards-container-producto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-producto {
    margin-bottom: 2rem;
}

.card-producto picture img {
    width: 15rem;
    margin-bottom: .8rem;
}

.card-producto .infoCard-Container p:nth-child(1) {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.card-producto .infoCard-Container p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.card-producto .infoCard-Container a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #000000;
}