@font-face {
    font-family: 'Anurati';
    src: url(../assets/fonts/Anurati-Regular.woff) format('woff');
}

:root {
    --dark-hr: #494A4D;
    --cultured-lg: #F5F5F5;
    --cultured-md: #ECECEC;
    --black: #000000;
    --dark-grey: #2F3132;
    --grey: #252A2C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.container_menu--header span {
    color: var(--grey);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' -0,
    'opsz' 48
  }

.logo--header {
    text-decoration: none;
    font-family: 'Anurati';
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--black);
    margin-left: 2rem;
}

.nav-menu {
    display: none;
}

.search-btn {
    cursor: pointer;
    background: none;
    border: none;
    margin-right: .6rem;
}

.search-btn span {
    color: var(--grey);
}

.link-login span {
    color: var(--grey);
}

/* Banner */
.container--banner {
    border: 1px solid firebrick;
    background-image: url(../assets/images/img-banner-sm.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 2rem;
}

.container_text--banner p {
    color: var(--cultured-lg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container_text--banner p:nth-child(1) {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 5rem 0 .8rem 0;
}

.container_text--banner p:nth-child(2) {
    font-size: 1.6rem;
    margin-bottom: .8rem;
}

.container_text--banner button {
    
}