:root {
    --dark: #1B1D21; /* - */
    --white: #FFFFFF; /* - */
    --light-grey: #8D8E90; /* - */
    --dark-grey: #494A4D; /* - */
    --primary: #6C5DD3; /* - */
    --primary-bg: #8072DC; /* - */
    --primary-md: #9D92E9; /* - */
    --primary-sm: #CFC8FF; /* - */
    --secondary: #0049C6;
    --secondary-bg: #3F8CFF;
    --secondary-md: #A0D7E7;
    --secondary-sm: #CDF4FF;
    --accent1: #FFA2C0;
    --accent1-bg: #FF78A4; /* - */
    --accent1-md: #FFC6DB; /* - */
    --accent1-sm: #FFBED3; 
    --accent2: #FFCE73;
    --accent2-bg: #FFA25F;
    --accent2-md: #FFE2AB;
    --accent2-sm: #FFDD9D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

/* Iconos de Google */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' -0,
    'opsz' 48
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2.5rem;
    backdrop-filter: initial;
    background-color: var(--white);
    box-shadow: 0px 1px 4px 0px rgba(161,161,161,0.29);
    z-index: 9999;
}

.container_menu--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_menu--header  .btn-menu {
    cursor: pointer;
    transition: .3s all;
    color: var(--dark-grey);
}

.container_menu--header  .btn-menu:hover {
    color: var(--primary-bg);
}

.nav-menu.not-active {
    display: none;
}

.nav-menu.active {
    position: absolute;
    top: 5.6rem;
    left: 0;
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid lightgray;
    border-radius: 0 0 .3rem 0;
    width: 70%;
    height: 100vh;
}

.nav-menu.active h2 {
    margin: 1rem 0 0 3rem;
    font-size: 1.4rem;
    color: var(--light-grey);
    font-weight: 400;
}

.nav-menu.active ul {
    border-bottom: 1px solid lightgray;
}

.nav-menu.active li {
    display: flex;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s all;
}

.nav-menu.active li span {
    color: var(--light-grey);
    margin-right: 1rem;
    font-size: 2rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' -25,
    'opsz' 48
}

.nav-menu.active li a {
    color: var(--light-grey);
    font-size: 1.4rem;
}

.nav-menu.active ul li:hover {
    background-color: var(--primary-bg);
}

.nav-menu.active ul li:hover span,
.nav-menu.active ul li:hover a {
    color: var(--white);
}

.container-search.not-active {
    display: none;
}

.container-search {
    position: absolute;
    width: 20rem;
    background-color: rgba(211, 211, 211, 0.534);
    top: 1.2rem;
    right: 25%;
    display: flex;
    border-radius: 1rem;
    padding: .5rem .3rem;
}

.container-search span.btn-close {
    color: var(--dark);
    cursor: pointer;
    margin-right: .5rem;
    transition: .3s all;
}

.container-search span.btn-close:hover {
    color: var(--primary-bg);
}

.container-search input {
    width: 17rem;
    background: transparent;
    border: none;
    outline: none;
    color: var(--dark-grey);
}

.container_menu--header .search-btn{
    color: var(--dark-grey);
    width: 2.1rem;
    height: 2.1rem;
    transition: .3s all;
    cursor: pointer;
    margin-right: 1rem;
}

.container_menu--header .search-btn:hover {
    color: var(--primary-bg);
}

.container_menu--header .link-login span {
    cursor: pointer;
    transition: .3s all;
    color: var(--dark-grey);
} 

.container_menu--header .link-login span:hover {
    color: var(--primary-bg);
}

/* Main */
main {
    padding-top: 6rem;
}

.container_logo--main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.container_logo--main img {
    width: 20rem;
}

/* Banner */
.container--banner {
    background-color: var(--primary-bg);
    border-radius: 1.8rem;
    filter: saturate(60%);
    padding: 3rem 3rem 6rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}

.container_img--banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 4rem 0;
}

.container_img--banner img {
    width: 18rem;
}

.container_text--banner p {
    color: var(--white);
}

.container_text--banner p:nth-child(2) {
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.container_text--banner p:nth-child(3) {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
}

.container_button--banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_button--banner button {
    padding: 1rem 1.5rem;
    border: none;
    background-color: var(--white);
    border-radius: .8rem;
    color: var(--dark);
    font-size: 1.6rem;
    box-shadow: 0px 2px 6px -1px rgba(61,61,61, .5);
    cursor: pointer;
    transition: .3s all;
}

.container_button--banner button:hover {
    background-color: var(--accent1-bg);
    color: var(--white);
}

/* Sección Productos */
.sec_galeriaProductos {
    margin: 3rem 2rem 0 2rem;
    padding: 0 1.5rem;
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 28px -3px rgba(181,181,181,1);
}

.container-tipoProducto {
    margin-bottom: 1rem;
}

.titulo-tipoProducto h2 {
    padding: 2rem 1rem;
    font-size: 2rem;
    color: var(--dark-grey);
}

.cards-container-producto {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-producto {
    margin-bottom: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: .3s all;
}

.card-producto picture img {
    width: 10rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    filter: saturate(45%);
}

.card-producto .infoCard-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.infoCard-Container .container-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoCard-Container .container-name span:nth-child(1) {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 1rem;
    transition: .3s all;
}

.infoCard-Container .container-name span:nth-child(2) {
    background-color: transparent;
    color: var(--dark);
    font-size: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    transition: .3s all;
}

.infoCard-Container span.other-text1 {
    font-size: 1.2rem;
    color: var(--light-grey);
    margin-bottom: 1rem;
    transition: .3s all;
}

.infoCard-Container span.other-text2 {
    width: 6rem;
    height: 1.7rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary-md);
    text-align: center;
    border-radius: .5rem;
    transition: .3s all;
}

.card-producto:hover {
    background-color: var(--primary-bg);
    box-shadow: 0px 9px 0px -4px rgba(207,200,255,1);
}

.card-producto:hover .infoCard-Container .container-name span:nth-child(1),
.card-producto:hover .infoCard-Container .container-name span:nth-child(2), 
.card-producto:hover .infoCard-Container span.other-text1 {
    color: var(--white);
}

.card-producto:hover .infoCard-Container span.other-text2 {
    color: var(--primary);
    background-color: var(--white);
}

.container-VerTodo--Productos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 1.5rem;
    padding: 1.5rem 0;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: .2s all;
}

.container-VerTodo--Productos:hover {
    box-shadow: 0px 9px 0px -4px rgba(163, 163, 163, 0.411);
}


.container-VerTodo--Productos span {
    color: var(--white);
    font-size: 1.4rem;
}

.container-VerTodo--Productos span:nth-child(2) {
    font-size: 1.8rem;
    margin: .3rem 0 0 .5rem;
}

/* Links */
.container-info_contacto {
    margin: 3rem 2rem 0 2rem;
    border-top: 1px solid rgb(231, 231, 231);
}

.container-info_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-info_links {
    margin: 2rem 0;
}

.logo-info_links img {
    width: 16rem;
}

.links-info_links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.links-info_links .links-info {
    display: flex;
    flex-direction: column;
}

.links-info_links .links-info span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 1rem;
}

.links-info_links a {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--light-grey);
}

.links-info_links .links-redes {
    display: flex;
    flex-direction: column;
}

.links-info_links .links-redes span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 1rem;
}

.links-redes .container-icon-links i {
    font-size: 2rem;
    margin: 0 .4rem;
    cursor: pointer;
    color: var(--light-grey);
    transition: .3s all;
}

.links-redes .container-icon-links i:hover {
    color: var(--primary);
}

/* Formulario */
.container_form {
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
}

.container_form h2 {
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: 2rem;
    text-align: center;
}

.container_inputs-form {
    display: flex;
    flex-direction: column;
}

.container_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: var(--white);
    padding: .8rem;
    border-radius: 3px;
}

.container_input label {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: var(--primary);
}

.container_input input {
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: var(--dark);
}

.container_input textarea {
    resize: none;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: var(--dark);
}

.container_btn-form {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.container_btn-form button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: .8rem;
    background-color: var(--white);
    color: var(--dark);
    font-size: 1.4rem;
    box-shadow: 0px 2px 6px -1px rgba(61,61,61, .5);
    cursor: pointer;
    transition: .3s all;
}
.container_btn-form button:hover {
    background-color: var(--accent1-bg);
    color: var(--white);
}

/* Footer */
.container-footer {
    text-align: center;
    padding: 2.5rem 0;
}

.container-footer span:nth-child(1),
.container-footer span:nth-child(3) {
    font-size: 1.2rem;
    color: var(--light-grey);
}

.container-footer span.material-symbols-outlined {
    font-size: 1.4rem;
    color: var(--primary-bg);
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' -25,
    'opsz' 48
}

.container-footer span:nth-child(4) {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-bg);
}