:root {
    --dark: #1B1D21;
    --white: #FFFFFF;
    --dark-grey: #494A4D;
    --primary-bg: #8072DC;
    --light-grey: #8D8E90;
    --primary: #6C5DD3;
    --accent1-bg: #FF78A4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

/* Iconos de Google */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' -0,
    'opsz' 48
}

/* Header */
header {
    width: 100%;
    padding: 1.5rem 2.5rem;
    backdrop-filter: initial;
    background-color: var(--white);
    box-shadow: 0px 1px 4px 0px rgba(161,161,161,0.29);
    z-index: 9999;
}

.container__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__header .logo--header {
    width: 15rem;
 }

.container__header .search-btn{
    color: var(--dark-grey);
    width: 2.1rem;
    height: 2.1rem;
    transition: .3s all;
    cursor: pointer;
    margin-right: 1rem;
}

.container__header .search-btn:hover {
    color: var(--primary-bg);
}

/* main */
.container {
    margin: 8rem 4rem 6rem 4rem;
    padding: 4rem 0;
    box-shadow: 0px 1px 15px -6px rgba(181,181,181,1);
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__title {
    font-size: 1.8rem;
    color: var(--dark-grey);
    margin-bottom: 2rem;
}

.container__form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form__input {
    margin-bottom: 1.5rem;
    padding: 1rem .8rem;
    border-radius: .8rem;
    border: 1px solid rgba(161,161,161,0.6);
    color: var(--dark);
    outline: none;
    font-size: 1.4rem;
}

.form__button {
    background-color: var(--dark);
    border-radius: .8rem;
    padding: 1rem .8rem;
    cursor: pointer;
    transition: .2s all;
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.4rem;
}

/* Links */
.container-info_contacto {
    margin: 3rem 0 0 0;
    border-top: 1px solid rgb(231, 231, 231);
}

.container-info_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-info_links {
    margin: 2rem 0;
}

.logo-info_links img {
    width: 16rem;
}

.links-info_links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.links-info_links .links-info {
    display: flex;
    flex-direction: column;
}

.links-info_links .links-info span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 1rem;
}

.links-info_links a {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--light-grey);
}

.links-info_links .links-redes {
    display: flex;
    flex-direction: column;
}

.links-info_links .links-redes span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 1rem;
}

.links-redes .container-icon-links i {
    font-size: 2rem;
    margin: 0 .4rem;
    cursor: pointer;
    color: var(--light-grey);
    transition: .3s all;
}

.links-redes .container-icon-links i:hover {
    color: var(--primary);
}

/* Formulario */
.container_form {
    margin-top: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    filter: saturate(60%);
}

.container_form h2 {
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: 2rem;
    text-align: center;
}

.container_inputs-form {
    display: flex;
    flex-direction: column;
}

.container_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: var(--white);
    padding: .8rem;
    border-radius: 3px;
}

.container_input label {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: var(--primary);
}

.container_input input {
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: var(--dark-grey);
}

.container_input textarea {
    resize: none;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: var(--dark);
}

.container_btn-form {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.container_btn-form button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: .8rem;
    background-color: var(--white);
    color: var(--dark);
    font-size: 1.4rem;
    box-shadow: 0px 2px 6px -1px rgba(61,61,61, .5);
    cursor: pointer;
    transition: .3s all;
}
.container_btn-form button:hover {
    background-color: var(--accent1-bg);
    color: var(--white);
}

/* Footer */
.container-footer {
    display: flex;
    text-align: center;
    padding: 2.5rem 0;
    align-items: center;
    justify-content: center;
}

.container-footer span:nth-child(1),
.container-footer span:nth-child(3) {
    font-size: 1.2rem;
    color: var(--light-grey);
}

.container-footer span.material-symbols-outlined {
    font-size: 1.4rem;
    color: var(--primary-bg);
    margin: 0 .3rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' -25,
    'opsz' 48
}

.container-footer span:nth-child(4) {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-bg);
    margin-left: .3rem;
}