/* Body */
body {
    display: grid;
    grid-template-columns: 9% 91%;
    grid-template-rows: 95% 5%;
}

/* Header */
header {
    position: relative;
    padding: 0;
    border: 1px solid lightgray;
    box-shadow: none;
}

.container_menu--header {
    flex-direction: column;
}

.container_menu--header .btn-menu {
    font-size: 2.2rem;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid lightgray;
}

.container_menu--header .medioLogo--header {
    display: inline-block;
    margin-top: 2.5rem;
    width: 3rem;
}

.container_links_right--header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    align-items: center;
}

.container_links_right--header .search1 {
    display: none;
}

.container_links_right--header span.search-btn {
    margin: 0 0 2.5rem 0;
    color: var(--light-grey);
}

.container_links_right--header .link-login span {
    color: var(--light-grey);
}

.container_menu--header .nav1 {
    display: none;
}

.container_menu--header .nav2 {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding: 0 1.5rem;
}

.container_menu--header .nav2 h2 {
    display: none;
}

.container_menu--header .nav2 span {
    margin-bottom: 2.5rem;
    color: var(--light-grey);
    cursor: pointer;
    transition: .3s all;
}

.container_menu--header .nav2 span:hover {
    color: var(--primary);
}

.container_menu--header .nav2 a {
    display: none;
}

/* Main */
main {
    padding-top: 0;
}

.container_logo--main {
    display: none;
}

main .main-title {
    display: block;
    padding: 3rem 5rem .5rem 5rem;
    color: var(--dark-grey);
    font-size: 1.6rem;
}

main .main-text {
    display: block;
    padding: 0 5rem 4.5rem 5rem;
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: bold;
}

/* Banner */
.container--banner {
    margin: 0 5rem;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container_text--banner {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 33% 33% 33%;
}

.container_text--banner .container_img--banner {
    width: 23.5rem;
    justify-content: flex-end;
    margin: .5rem .5rem .5rem 0;
    grid-area: 1 / 2 / 4 / 2;
}

.container_img--banner img {
    width: 23rem;
    object-fit: contain;
}

.container_text--banner p:nth-child(2) {
    width: 34rem;
    margin: 0;
    text-align: start;
    font-weight: bold;
    font-size: 3rem;
    padding: 4rem 0 0 3rem;
}

.container_text--banner p:nth-child(3) {
    width: 34rem;
    margin: 0;
    text-align: start;
    font-size: 1.4rem;
    padding: .8rem 0 1rem 3rem;
}

.container_button--banner {
    width: 34rem;
    justify-content: flex-start;
    padding: 0 0 4rem 3rem;
}

.container_button--banner button {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
}